* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
.hero {
  min-height: 100vh;
  width: 100%;
  background-color: black;
  background-image: url(./Gambar/mario-caruso-0C9VmZUqcT8-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  color: white;
  padding: 0 8%;
}
.nav {
  margin-top: -44px;
  margin-left: -67px;
  padding: 30px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 160px;
  cursor: pointer;
}
.nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 30px;
  position: relative;
}
.nav ul li a {
  color: white;
  text-decoration: none;
}
.nav ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: white;
  position: absolute;
  left: 0;
  bottom: -3px;
  transition: 0.5s;
}
.nav ul li:hover::after {
  width: 100%;
}
.hero h1 {
  font-size: 75px;
  margin-top: 12%;
}
.indicator span {
  display: inline-block;
  background: #3a3a3a;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-right: 10px;
}
.indicator {
  margin-top: 150px;
}
.indicator span.active {
  background: #bfbfbf;
}
